.dropdown-menu li a.glyphicon.pad-left {
	padding-left: 33px;
}

.container.page-body {
	margin-bottom: 150px;
}

.glyphicon-button-disabled, .table-disabled, .table-disabled a, .table-row-disabled, .table-row-disabled a {
	color: darkgrey;
}

table#metadata_edittable .showWhenEdit {
	display: none;
	width: 100%;
}

table#metadata_edittable .hideWhenEdit {
	display: block;
}

div.metadata_form_buttons {
	margin-top: 30px;
}

div.chosen-container {
	width: 100%;
}

ul.multi-value-list{
	padding-left: 15px;
	list-style: square;
}

div.fixed-row-removed.showWhenEdit {
	display: none !important;
	visibility: hidden !important;
}

table#metadata_edittable > tbody > tr.form-group.has-error > td:first-child > span:first-child:before {
	font-family: 'Glyphicons Halflings';
	content: "\e107";
	font-size: 1.5em;
	left: -25px;
	position: absolute;
	color: #F52A01;
}

.grey{
	color: grey;
}

#fileOverviewTabMenu {
	margin-top: 30px;
}

.glyphicon-back {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.glyphicon-back:before {
	content: "\e095";

}

.glyphicon-pencil-cancel:after {
	content: "\270f";
}

.glyphicon-pencil-cancel:before {
	content: "\e095";
	position: absolute;
	margin-left: -.3em;
	margin-top: -.2ex;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.tab-pane {
	padding-top: 20px;
}

.back-button {
	margin: 1px 10px 1px 0px;
}

.page-header {
	margin-top: 0px;
}


