.dropdown-menu li a.glyphicon.pad-left {
	padding-left: 33px;
}

.container.page-body {
	margin-bottom: 150px;
}

.glyphicon-button-disabled, .table-disabled, .table-disabled a, .table-row-disabled, .table-row-disabled a {
	color: darkgrey;
}

table#metadata_edittable .showWhenEdit {
	display: none;
	width: 100%;
}

table#metadata_edittable .hideWhenEdit {
	display: block;
}

div.metadata_form_buttons {
	margin-top: 30px;
}

div.chosen-container {
	width: 100%;
}

ul.multi-value-list{
	padding-left: 15px;
	list-style: square;
}

div.fixed-row-removed.showWhenEdit {
	display: none !important;
	visibility: hidden !important;
}

table#metadata_edittable > tbody > tr.form-group.has-error > td:first-child > span:first-child:before {
	font-family: 'Glyphicons Halflings';
	content: "\e107";
	font-size: 1.5em;
	left: -25px;
	position: absolute;
	color: #F52A01;
}

.grey{
	color: grey;
}

#fileOverviewTabMenu {
	margin-top: 30px;
}


