
.tab-content {
    margin-top:10px;
}

.btn-group {
    margin-bottom: 20px;
}

.browse, .browse-search {
    cursor: pointer;
}

ol.breadcrumb li.active {
    font-weight: bold;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75%;
    float:left;

    /*
    line-height: normal;
    padding-top: 4px;
    */
}

.search-results {
    display: none;
}

.top-information {
    display: none;
}

.panel-heading .input-group-sm {
    margin: -7px; /* btn in panel heading */
}
.panel-footer  .input-group-sm {
    margin: -6px; /* btn in panel footer */
}

.top-information h1 .icon .fa-stack {
    font-size:22px;
}

.top-information h1 .icon .fa-stack .fa-shield.fa-stack-1x {
    margin-top: 2px;
}

.hide {
    display: none;
}

.search-status {
    margin-top: 5px;
    margin-left: 5px;
}