
.tab-content {
    margin-top:10px;
}

.browse, .browse-search {
    cursor: pointer;
}

ol.breadcrumb li.active {
    font-weight: bold;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75%;
    float:left;

    /*
    line-height: normal;
    padding-top: 4px;
    */
}

.search-results {
    display: none;
}

.top-information {
    display: none;
}

.top-info-buttons {
    border-top: 1.5px dotted #F5F5F5;
    border-bottom: 1.5px dotted #F5F5F5;
    margin-bottom: 10px;
    padding: 10px 0;
}

.top-info-buttons .btn-group .toggle-folder-status,
.top-info-buttons .btn-group .metadata-form {
    margin-right: 10px;
}

.panel-heading .input-group-sm {
    margin: -7px; /* btn in panel heading */
}
.panel-footer  .input-group-sm {
    margin: -6px; /* btn in panel footer */
}

.top-information h1 .icon .fa-stack {
    font-size:22px;
}

.top-information h1 .icon .fa-stack .fa-shield.fa-stack-1x {
    margin-top: 2px;
}

.hide {
    display: none;
}

.search-status {
    margin-top: 5px;
    margin-left: 5px;
}

.restore-exists.cover {
    background-color: #ffffff;
    border-radius: 5px;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    z-index:1000;
    padding:15px;
}