.dropdown-menu li a.glyphicon.pad-left {
	padding-left: 33px;
}

.container.page-body {
	margin-bottom: 150px;
}

.glyphicon-button-disabled, .table-disabled, .table-disabled a, .table-row-disabled, .table-row-disabled a {
	color: darkgrey;
}

