.dropdown-menu li a.glyphicon.pad-left {
	padding-left: 33px;
}

.container.page-body {
	margin-bottom: 150px;
}

.glyphicon-button-disabled, .table-disabled, .table-disabled a, .table-row-disabled, .table-row-disabled a {
	color: darkgrey;
}

table#metadata_edittable .showWhenEdit {
	display: none;
	width: 100%;
}

table#metadata_edittable .hideWhenEdit {
	display: block;
}

div.metadata_form_buttons {
	margin-top: 30px;
}

/*div.metadata_form_buttons .showWhenEdit {
	visibility: hidden;
}
*/

